.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}

.info-item:not(:first-child) {
    padding-top: 16px;
}

.info-item:not(:last-child) {
    border-bottom: 1px solid #c4c4c4;
}

.info-item [class~='item-title'] {
    display: flex;
    align-items: center;
    gap: 8px;
}

.info-item [class~='item-title'] [class~='label'] {
    font-size: 20px;
}

.info-item [class~='item-title'] [class~='note'] {
    font-size: 15px;
}

.info-item [class~='actions'] {
    display: flex;
    align-items: center;
    gap: 64px;
}
