.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    padding: 64px 45px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.25);
    z-index: 10;
}

.mid-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.bottom-list {
    margin-top: auto;
}
